.App {
  text-align: center;

}

*{
    margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: auto;
  height: 100dvh;
grid-template-areas: 
    "navbar header" 
    "navbar main" 
    "navbar footer";


    grid-template-columns: 200px auto;
    grid-template-rows: auto auto auto;

}

.navbar{

grid-area: navbar;
border: solid 1px white;
    

}
main{
  grid-area: main;
  overflow: auto;
}
header{
  grid-area: header;
}
footer{
  grid-area: footer;
}

a{
  color:#e4e9eb;
  text-decoration:none  ;
  border-radius: 3px;
  border: 1px solid white;
  flex-basis: 150px;
  margin-right: 15px;
  
}
table ,tr ,td , th{
  border: 1px solid white;
  border-collapse: collapse  ;
  

}
h1{
  text-align: center;
}
th{
  width: 250px;
}
li{
  list-style:none;

}
.navlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
